In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [59]:
data=pd.read_csv('football data.csv')

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Match                 24 non-null     int64
 1   teamID                24 non-null     int64
 2   Possession (%)        24 non-null     int64
 3    Total attempts       24 non-null     int64
 4   Passing accuracy (%)  24 non-null     int64
 5   Saves                 24 non-null     int64
 6   Goals                 24 non-null     int64
 7   Team strategy         24 non-null     int64
 8   Result                24 non-null     int64
dtypes: int64(9)
memory usage: 1.8 KB

In [61]:
data.head()

,Match,teamID,Possession (%),Total attempts,Passing accuracy (%),Saves,Goals,Team strategy,Result
0,1,1,62,12,92,3,1,1,2
1,2,2,57,18,86,2,1,2,1
2,3,2,49,9,86,11,0,2,0
3,4,2,32,5,80,2,1,2,1
4,5,2,59,21,92,1,4,2,1

In [62]:
data.shape

(24, 9)

In [80]:
data['Result'].value_counts()

1    14
2     8
0     2
Name: Result, dtype: int64

In [66]:
X=data.drop(columns=['Match','Result'],axis=1)
Y=data['Result']

In [67]:
X.head()

,teamID,Possession (%),Total attempts,Passing accuracy (%),Saves,Goals,Team strategy
0,1,62,12,92,3,1,1
1,2,57,18,86,2,1,2
2,2,49,9,86,11,0,2
3,2,32,5,80,2,1,2
4,2,59,21,92,1,4,2

In [68]:
X.shape

(24, 7)

In [69]:
Y.head()

0    2
1    1
2    0
3    1
4    1
Name: Result, dtype: int64

In [70]:
Y.shape

(24,)

In [71]:
scaler = MinMaxScaler()
normalized_features = scaler.fit_transform(X)
X=normalized_features
print(X)

[[0.         0.73170732 0.28       0.95       0.2        0.14285714
  0.        ]
 [1.         0.6097561  0.52       0.65       0.1        0.14285714
  1.        ]
 [1.         0.41463415 0.16       0.65       1.         0.
  1.        ]
 [1.         0.         0.         0.35       0.1        0.14285714
  1.        ]
 [1.         0.65853659 0.64       0.95       0.         0.57142857
  1.        ]
 [1.         0.90243902 0.52       0.9        0.         0.28571429
  1.        ]
 [1.         0.29268293 0.28       0.         0.7        0.42857143
  1.        ]
 [1.         0.31707317 0.08       0.5        0.5        0.
  1.        ]
 [1.         0.07317073 0.24       0.         0.4        0.
  1.        ]
 [1.         0.26829268 0.16       0.65       0.1        0.28571429
  1.        ]
 [1.         0.2195122  0.24       0.4        0.1        0.42857143
  1.        ]
 [1.         0.26829268 0.52       0.4        0.1        0.28571429
  1.        ]
 [1.         0.26829268 0.4        0.5        0.         0.14285714
  1.        ]
 [0.         0.68292683 0.76       0.9        0.         0.57142857
  0.        ]
 [0.         0.7804878  0.28       0.85       0.         0.28571429
  0.        ]
 [0.         1.         1.         1.         0.         0.71428571
  0.        ]
 [0.         0.63414634 0.36       0.9        0.         0.
  0.        ]
 [0.         0.92682927 0.12       1.         0.3        0.
  0.        ]
 [0.         0.19512195 0.08       0.8        0.3        0.42857143
  0.        ]
 [0.         0.73170732 0.68       0.9        0.         1.
  0.        ]
 [0.         0.34146341 0.48       0.5        0.3        0.42857143
  0.        ]
 [0.         0.56097561 0.52       0.8        0.         0.14285714
  0.        ]
 [0.         0.6097561  0.2        0.95       0.1        0.14285714
  0.        ]
 [0.         0.70731707 0.44       0.85       0.2        0.57142857
  0.        ]]

In [72]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.10,stratify=Y)

In [73]:
classifier = RandomForestClassifier()
classifier.fit(X_train,Y_train)

RandomForestClassifier()

In [74]:
predictions_train=classifier.predict(X_train)
score=accuracy_score(predictions_train,Y_train)
score

1.0

In [75]:
prediction_test=classifier.predict(X_test)
score_test=accuracy_score(prediction_test,Y_test)
score_test

1.0

In [76]:
input_data=np.array([[2,49,9,86,11,0,2]])
normalized= scaler.transform(input_data)

C:\Users\91821\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [81]:
data.groupby('teamID').mean()

,Match,Possession (%),Total attempts,Passing accuracy (%),Saves,Goals,Team strategy,Result
teamID,,,,,,,,
1,17.5,59.000000,15.833333,90.333333,2.166667,2.583333,1.0,1.416667
2,7.5,46.666667,12.833333,82.916667,3.583333,1.583333,2.0,1.083333

In [92]:

input_data_i=np.array([[2,46,12,82,3.5,1.5,2]])
normalized_i= scaler.transform(input_data_mc)
predictions_i=classifier.predict(normalized_mc)

C:\Users\91821\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [93]:
input_data_mc=np.array([[1,59,15,90,2.1,2.5,1]])
normalized_mc= scaler.transform(input_data_mc)
predictions_mc=classifier.predict(normalized_mc)

C:\Users\91821\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [94]:
if predictions_mc > predictions_i:
    best_team = "Manchester City"
else:
    best_team = "Inter Milan"
    print("The best team for the Champions League Final between Manchester City and Inter Milan is:", best_team)

The best team for the Champions League Final between Manchester City and Inter Milan is: Inter Milan